.Toastify__toast {
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
  }
  
  .Toastify__toast--success {
    background-color: #4CAF50;
    color: white;
  }
  
  .Toastify__toast--error {
    background-color: #F44336;
    color: white;
  }
  
  .Toastify__progress-bar {
    background-color: white;
  }
  